<%= form_with(model: oficina, local: true) do |form| %>
  <% if oficina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oficina.errors.count, "error") %> prohibited this oficina from being saved:</h2>

      <ul>
      <% oficina.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :professor %>
    <%= form.text_field :professor %>
  </div>

  <div class="field">
    <%= form.label :inicio %>
    <%= form.time_select :inicio %>
  </div>

  <div class="field">
    <%= form.label :termino %>
    <%= form.time_select :termino %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
