<p id="notice"><%= notice %></p>

<h1>Oficinas</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descricao</th>
      <th>Professor</th>
      <th>Inicio</th>
      <th>Termino</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oficinas.each do |oficina| %>
      <tr>
        <td><%= oficina.titulo %></td>
        <td><%= oficina.descricao %></td>
        <td><%= oficina.professor %></td>
        <td><%= oficina.inicio %></td>
        <td><%= oficina.termino %></td>
        <td><%= link_to 'Show', oficina %></td>
        <td><%= link_to 'Edit', edit_oficina_path(oficina) %></td>
        <td><%= link_to 'Destroy', oficina, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Oficina', new_oficina_path %>
