<%= form_with(model: apresentacao_um, local: true) do |form| %>
  <% if apresentacao_um.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apresentacao_um.errors.count, "error") %> prohibited this apresentacao_um from being saved:</h2>

      <ul>
      <% apresentacao_um.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_area :descricao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
