<%= form_with(model: atividade, local: true) do |form| %>
  <% if atividade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(atividade.errors.count, "error") %> prohibited this atividade from being saved:</h2>

      <ul>
      <% atividade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dia_atividade %>
    <%= form.date_select :dia_atividade %>
  </div>

  <div class="field">
    <%= form.label :hora_atividade %>
    <%= form.time_select :hora_atividade %>
  </div>

  <div class="field">
    <%= form.label :acontecimento %>
    <%= form.text_field :acontecimento %>
  </div>

  <div class="field">
    <%= form.label :tema %>
    <%= form.text_field :tema %>
  </div>

  <div class="field">
    <%= form.label :envolvidos %>
    <%= form.text_field :envolvidos %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
