<p id="notice"><%= notice %></p>

<p>
  <strong>Dia atividade:</strong>
  <%= @atividade.dia_atividade %>
</p>

<p>
  <strong>Hora atividade:</strong>
  <%= @atividade.hora_atividade %>
</p>

<p>
  <strong>Acontecimento:</strong>
  <%= @atividade.acontecimento %>
</p>

<p>
  <strong>Tema:</strong>
  <%= @atividade.tema %>
</p>

<p>
  <strong>Envolvidos:</strong>
  <%= @atividade.envolvidos %>
</p>

<%= link_to 'Edit', edit_atividade_path(@atividade) %> |
<%= link_to 'Back', atividades_path %>
