


<header id="header">
  <div class="container">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a href="index.html"><%=image_tag("logo.png") %></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#home">Home</a></li>
          <li><a href="#about">Sobre</a></li>
          <li><a href="#speakers">Palestras</a></li>
          <li><a href="#schedule">Programação</a></li>
          <li><a href="#cursos">Oficinas</a></li>

          <% if user_signed_in? %>
            <% user = current_user.id %>
            <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
            <li><a href=""> Logado com: <%= current_user.nome %></a></li>
          <% else %>
            <li><a href="#" data-toggle="modal" data-target="#login-modal">Entrar | Cadastrar</a></li>
          <%end %>
        </ul>

      </nav><!-- #nav-menu-container -->

    </div>
  </div>

</header><!-- #header -->


<!-- start banner Area -->
<section class="banner-area relative" id="home" style="background: url(<%= image_url("bg.png") %>)">
  <div class="overlay overlay-bg">
    <!-- particles.js container -->
    <div id="particles-js"></div>
  </div>

  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-center">
      <div class="banner-content col-lg-9 col-md-12">
        <h6>Bem vindo ao</h6>
        <h1 class="text-white">
          Tec Bonfim 2018
        </h1>
        <div class="countdown">
          <div id="timer" class="text-white"></div>
        </div>
        <h4><span><i class="far fa-calendar-alt lnr-icon"></i></span> 05 - 07 dezembro, 2018</h4>
        <h4><span><i class="fas fa-map-marker-alt lnr-icon"></i></span> Instituto Federal de Educação, Ciências e Tecnologia Baiano - Senhor do
          Bonfim</h4>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start home-video Area -->
<section class="home-video-area">
  <div class="container-fluid">
    <div class="row justify-content-end align-items-center">
      <div class="col-lg-4 no-padding about-right">
        <p class="top-title">Prestigie Trabalhos</p>
        <h1>Apresentações de relatórios de estágio, <br> Projetos integradores e Trabalhos acadêmicos.<br></h1>
        <p style="display: none"><span>We are here to listen from you deliver exellence</span></p>
        <p>
          <%= @apresentacao_um.descricao %>
        </p>
      </div>
      <section class="video-area col-lg-6 no-padding">
        <div class="overlay overlay-bg"></div>
        <div class="containers">
          <div class="video-content">
            <%=image_tag("about1.jpg", class: "img-fluid")%>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<!-- End home-aboutus Area -->


<!-- Start home-aboutus Area -->
<section class="home-aboutus-area">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-8 no-padding about-left">
        <%= image_tag("about2.jpg", class: "img-fluid") %>
      </div>
      <div class="col-lg-4 no-padding about-right">
        <p class="top-title">Enriqueça seus conhecimentos</p>
        <h1 class="text-white">Oficinas e Palestras <br></h1>
        <p style="display: none"><span>We are here to listen from you deliver exellence</span></p>
        <p style="color: #fff">
          <%= @apresentacao_dois.descricao %>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End home-aboutus Area -->

<!-- Start Generic Area -->
<section class="about-generic-area section-gap" id="about">
  <div class="container border-top-generic">
    <h3 class="about-title mb-30">Sobre o evento</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="img-text">
          <p class="text-justify"><%= @sobre.descricao %></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Generic Start -->

<!-- Start spekers Area -->
<section class="spekers-area pb-100" id="speakers">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Palestrantes</h1>
          <p>Acompanhe nossos palestrantes e suas respectivas palestras.</p>
        </div>
      </div>
    </div>
    <div class="row no-padding">
      <div class="active-speaker-carusel col-lg-12 no-padding">
        <% @palestras.each do |palestra| %>
          <div class="single-speaker item">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-6 speaker-img no-padding">
                  <%= image_tag(url_for(palestra.image), class: "img-fluid", style: "max-height:570px;") %>
                </div>
                <div class="col-md-6 speaker-info no-padding">
                  <h1 class="text-white"><%= palestra.palestrante %></h1>
                  <h6 class="text-uppercase"><%= palestra.titulo_palestra %> </h6>
                  <p>
                    <%= palestra.desc_palestra %>
                  </p>
                  <p><span><i class="far fa-envelope lnr-icon"></i></span><%= palestra.email_palestrante %></p>

                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- End spekers Area -->


<!-- Start schedule Area -->
<section class="schedule-area pb-100" id="schedule">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Programação</h1>
          <p>Acompanhe aqui a programação do nosso evento.</p>
        </div>
      </div>
    </div>
    <div class="programacao-dia mb-5">
      <div class="tittle text-center">
        <h2>Dia 05 - Dezembro</h2>
      </div>
      <div class="row mt-5">
        <div class="table-wrap col-lg-12">
          <table class="schdule-table table table-bordered">
            <thead class="thead-light">
            <tr>
              <th class="head" scope="col">Hora</th>
              <th class="head" scope="col">Acontecimento</th>
              <th class="head" scope="col">Tema</th>
              <th class="head" scope="col">Envolvidos</th>
            </tr>
            </thead>
            <tbody>
            <% @atividade_dia5.each do |atividade| %>
              <tr>
                <td><%= atividade.hora_atividade.strftime("%H:%M") %></td>
                <td><%= atividade.acontecimento %></td>
                <td><%= atividade.tema %></td>
                <td><%= atividade.envolvidos %></td>
              </tr>
            <% end %>
            <% @palestras_dia5.each do |palestra| %>
              <tr>
                <td><%= palestra.hora_palestra.strftime("%H:%M") %></td>
                <td><%= palestra.titulo_palestra %></td>
                <td>Palestra</td>
                <td><%= palestra.palestrante %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="programacao-dia mb-5">
      <div class="tittle text-center">
        <h2>Dia 06 - Dezembro</h2>
      </div>
      <div class="row mt-5">
        <div class="table-wrap col-lg-12">
          <table class="schdule-table table table-bordered">
            <thead class="thead-light">
            <tr>
              <th class="head" scope="col">Hora</th>
              <th class="head" scope="col">Acontecimento</th>
              <th class="head" scope="col">Tema</th>
              <th class="head" scope="col">Envolvidos</th>
            </tr>
            </thead>
            <tbody>
            <% @atividade_dia6.each do |atividade| %>
              <tr>
                <td><%= atividade.hora_atividade.strftime("%H:%M") %></td>
                <td><%= atividade.acontecimento %></td>
                <td><%= atividade.tema %></td>
                <td><%= atividade.envolvidos %></td>
              </tr>
            <% end %>
            <% @palestras_dia6.each do |palestra| %>
              <tr>
                <td><%= palestra.hora_palestra.strftime("%H:%M") %></td>
                <td><%= palestra.titulo_palestra %></td>
                <td>Palestra</td>
                <td><%= palestra.palestrante %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="programacao-dia mb-5">
      <div class="tittle text-center">
        <h2>Dia 07 - Dezembro</h2>
      </div>
      <div class="row mt-5">
        <div class="table-wrap col-lg-12">
          <table class="schdule-table table table-bordered">
            <thead class="thead-light">
            <tr>
              <th class="head" scope="col">Hora</th>
              <th class="head" scope="col">Acontecimento</th>
              <th class="head" scope="col">Tema</th>
              <th class="head" scope="col">Envolvidos</th>
            </tr>
            </thead>
            <tbody>
            <% @atividade_dia7.each do |atividade| %>
              <tr>
                <td><%= atividade.hora_atividade.strftime("%H:%M") %></td>
                <td><%= atividade.acontecimento %></td>
                <td><%= atividade.tema %></td>
                <td><%= atividade.envolvidos %></td>
              </tr>
            <% end %>
            <% @palestras_dia7.each do |palestra| %>
              <tr>
                <td><%= palestra.hora_palestra.strftime("%H:%M") %></td>
                <td><%= palestra.titulo_palestra %></td>
                <td>Palestra</td>
                <td><%= palestra.palestrante %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- End schedule Area -->

<!-- Start price Area -->
<section class="price-area section-gap" id="cursos">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Mini Cursos e Oficinas</h1>
          <p>Participantes só poderá ser inscrito em apenas 1 mini curso.</p>
          <h4 class="notice"><%= notice %></h4>
        </div>
      </div>
    </div>
    <div class="row">
      <% number = 0 %>
      <% @oficinas.each do |oficina| %>
        <% number = number+1 %>
        <!-- Start Single Curso-->
        <div class="col-lg-3 col-md-6 single-price"
             data-toggle="tooltip"
             data-html="true"
             title="<%= oficina.descricao %>">


          <div class="top-part">
            <h1 class="package-no"><%= number %></h1>
            <h4><%= oficina.titulo %></h4>
          </div>
          <div class="package-list">
            <ul>
              <li><%= oficina.professor %></li>
              <li>Às: <%= oficina.inicio.strftime("%H:%M") %></li>
              <li>Termino: <%= oficina.termino.strftime("%H:%M") %></li>
            </ul>
          </div>
          <div class="bottom-part">
            <% if user_signed_in? %>

              <%= form_with(model: current_user, local: true) do |form| %>
                <%= form.hidden_field :oficina_id, value: oficina.id  %>
                <div class="actions">
                  <% if current_user.oficina_id == oficina.id %>
                    <%= form.submit "Matriculado", class: "price-btn text-uppercase", disabled: true %>
                  <% else %>
                    <%= form.submit "Matricular", class: "price-btn text-uppercase" %>
                  <% end %>

                </div>
              <% end %>

            <% else %>
              <a class="price-btn text-uppercase" href="#" data-toggle="modal" data-target="#login-modal">Entrar</a>
              <p>Necessario entrar em seu cadastro para matricular-se</p>
            <%end %>
          </div>
        </div>
        <!--/single curso -->
      <% end %>

    </div>

  </div>

</section>
<!-- End price Area -->


<!-- start footer Area -->
<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6>Tec Bonfim 2018</h6>
          <p>
            Prestigie trabalhos, enriqueça seus conhecimentos, participante de grandes palestras, coloque a mão na massa com
            excelentes minicursos e oficinas.
          </p>
          <p class="footer-text">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved
          </p>
        </div>
      </div>
      <div class="col-lg-5  col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h6>Local</h6>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.6993069275923!2d-40.14913478470061!3d-10.445418417022294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x76d5853b7d6672d%3A0x59f8cd6f00ec8510!2sInstituto+Federal+de+Educa%C3%A7%C3%A3o%2C+Ci%C3%AAncia+e+Tecnologia%2C+Campus+Senhor+do+Bonfim!5e0!3m2!1spt-BR!2sbr!4v1542469576925"
                  width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
        <div class="single-footer-widget">
          <h6>Oferecimento</h6>
          <%= image_tag("logo_if.png", class: "img-fluid") %>
          <div class="mt-5">
            <p>Desenvolvido por: <a href="https://www.instagram.com/siidy_silvaa/" target="_blank">Sidinei Souza da Silva</a></p>
          </div>
          <div class="footer-social d-flex align-items-center text-center ">
            <a href="https://www.facebook.com/SidineiSilvaa" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/siidy_silvaa/" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End footer Area -->

<!--Modal Login-->
<!-- BEGIN # MODAL LOGIN -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Begin # DIV Form -->
      <div id="div-forms">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:id => "login-form"}) do |f| %>

          <div class="text-center mt-4">
            <h3><b>Entrar</b></h3>
          </div>
          <div class="modal-body">
            <div class="field form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="field form-group">
              <%= f.label :Senha %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>
          </div>
          <div class="modal-footer">
            <div class="actions">
            <%= f.submit "Entrar", class: "btn btn-success btn-block" %>
          </div>
            <div>
              <button id="login_register_btn" type="button" class="btn btn-link">Cadastrar</button>
            </div>
          </div>
        <% end %>




        <!-- Begin | Register Form -->

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => "register-form"}) do |f|  %>

          <div class="text-center mt-4">
            <h3><b>Cadastrar</b></h3>
          </div>

          <div class="modal-body">
            <div class="field form-group">
              <%= f.label :nome %>
              <%= f.text_field :nome, class: "form-control" %>
            </div>

            <div class="field form-group">
              <%= f.label :cpf %>
              <%= f.text_field :cpf, class: "form-control" %>
            </div>

            <div class="field form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="field form-group">
              <%= f.label :Senha %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="field form-group">
              <%= f.label :Confirmação_Senha %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>
          </div>
          <div class="modal-footer">
            <div class="actions">
              <%= f.submit "Cadastrar", class: "btn btn-success btn-block" %>
            </div>
            <div>
              <button id="register_login_btn" type="button" class="btn btn-link">Entrar</button>
            </div>
          </div>
        <% end %>
        <!-- End | Register Form -->

      </div>
      <!-- End # DIV Form -->

    </div>
  </div>
</div>
<!-- END # MODAL LOGIN -->
