<%= form_with(model: palestra, local: true) do |form| %>
  <% if palestra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(palestra.errors.count, "error") %> prohibited this palestra from being saved:</h2>

      <ul>
      <% palestra.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :palestrante %>
    <%= form.text_field :palestrante %>
  </div>

  <div class="field">
    <%= form.label :email_palestrante %>
    <%= form.text_field :email_palestrante %>
  </div>

  <div class="field">
    <%= form.label :titulo_palestra %>
    <%= form.text_field :titulo_palestra %>
  </div>

  <div class="field">
    <%= form.label :desc_palestra %>
    <%= form.text_area :desc_palestra %>
  </div>

  <div class="field">
    <%= form.label :dia_palestra %>
    <%= form.date_select :dia_palestra %>
  </div>

  <div class="field">
    <%= form.label :hora_palestra %>
    <%= form.time_select :hora_palestra %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
