<p id="notice"><%= notice %></p>

<h1>Palestras</h1>

<table>
  <thead>
    <tr>
      <th>Palestrante</th>
      <th>Email palestrante</th>
      <th>Titulo palestra</th>
      <th>Desc palestra</th>
      <th>Dia palestra</th>
      <th>Hora palestra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @palestras.each do |palestra| %>
      <tr>
        <td><%= palestra.palestrante %></td>
        <td><%= palestra.email_palestrante %></td>
        <td><%= palestra.titulo_palestra %></td>
        <td><%= palestra.desc_palestra %></td>
        <td><%= palestra.dia_palestra %></td>
        <td><%= palestra.hora_palestra %></td>
        <td><%= link_to 'Show', palestra %></td>
        <td><%= link_to 'Edit', edit_palestra_path(palestra) %></td>
        <td><%= link_to 'Destroy', palestra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Palestra', new_palestra_path %>
