<p id="notice"><%= notice %></p>

<p>
  <strong>Palestrante:</strong>
  <%= @palestra.palestrante %>
</p>

<p>
  <strong>Email palestrante:</strong>
  <%= @palestra.email_palestrante %>
</p>

<p>
  <strong>Titulo palestra:</strong>
  <%= @palestra.titulo_palestra %>
</p>

<p>
  <strong>Desc palestra:</strong>
  <%= @palestra.desc_palestra %>
</p>

<p>
  <strong>Dia palestra:</strong>
  <%= @palestra.dia_palestra %>
</p>

<p>
  <strong>Hora palestra:</strong>
  <%= @palestra.hora_palestra %>
</p>

<%= link_to 'Edit', edit_palestra_path(@palestra) %> |
<%= link_to 'Back', palestras_path %>
